.dashboard {
    display: flex;
    height: 100vh;
}

.content {
    /* border: 1px solid; */
    width: 100%;
}

.dash-head {
    border: 1px solid;
    height: 64px;
}

.dash-head,
.dash-head-in {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0% 2%;
}

.dash-head-in {
    width: 18%;
}

.dash-head>span {
    font-size: 20px;
}

select {
    border: none;
    background-color: transparent;
}

option {
    background-color: black;
}