.toggle-switch {
    position: relative;
    width: 42px;
    /* height: 5em; */
    height: 20px;
    /* background-image: linear-gradient(90deg, #161e54 50%, skyblue 50%); */
    border: 1px solid;
    background-size: 200% 100%;
    background-position: 100% 100%;
    box-shadow: 0 0 15px 10px hsl(0, 0, 0, 0.1) inset;
    padding: 0;
    border-radius: 2.5em;
    display: flex;
    align-items: center;
    transition: 0.7s;
}

.toggle-switch input {
    height: 100%;
    width: 100%;
    cursor: pointer;
    position: absolute;
    opacity: 0;
    z-index: 999;
}

.toggle-switch .round-button {
    position: relative;
    transform: translateX(-5%);
    height: 100%;
    aspect-ratio: 1;
    display: grid;
    place-items: center;
    transition: 0.4s;
    transition-timing-function: ease-in-out;
}

.toggle-switch .round-button .button-body {
    position: absolute;
    z-index: 0;
    height: 100%;
    aspect-ratio: 1;
    border-radius: 50%;
    background-image: radial-gradient(#ffcc33 30%, #fc9601);
    box-shadow: 0 0 20px #ffcc33;
}

.toggle-switch .round-button div {
    height: 90%;
    aspect-ratio: 1;
    position: absolute;
    z-index: 1;
    background-image: radial-gradient(transparent 80%, #fc9601);
    transform: rotateZ(30deg);
    transition: 0.4s;
}

.toggle-switch .title {
    font-family: "Ubuntu";
    color: #333333;
    font-size: 1.5em;
}

.toggle-switch .title #light-text {
    color: skyblue;
    margin: 5px;
}

.toggle-switch .title #dark-text {
    color: #161e54;
    margin: 5px;
}

.toggle-switch input:checked~.round-button {
    transform: translateX(calc(42px - 95%));

    .button-body {
        background-image: radial-gradient(#f4f4f4, #cacaca);
        box-shadow: 0 0 20px #f4f4f4;
    }

    .bb {
        height: 15%;
        aspect-ratio: 1;
        transform: rotateZ(90deg) translate(0, 0);
        border-radius: 50%;
        background-color: #cacaca;
    }
}